* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #747caae8 0%, #3e028b 100%);
  /* color: #fff; */
  font-family: "Arial", sans-serif;
}

#form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* width: 100%; Decreased width to 80% */
  max-width: 400px; /* Maximum width for the 
  form */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-section input,
#message-section textarea,
#location-section input,
#file-section input {
  margin-bottom: 20px;
  border-radius: 0.6rem;
}

input[type="text"],
input[type="file"],
textarea {
  width: calc(100% - 20px); /* Adjusted width to accommodate margin */
  padding: 10px;
  margin: 8px 0;
}

textarea {
  resize: none;
  height: 7rem;
}

button#geolocation-btn,
button#submit-btn {
  background-color: #7289da;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 4px;
}

#file-section {
  display: flex;
}

form#fileForm {
  display: none;
}

