@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: rgba(207, 124, 144);
  --black: #13131a;
  --bg: #d1f0f0;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5rem;
}
body {
  background: linear-gradient(to right, #747caae8 0%, #3e028b 100%);
}
section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}
.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.about .row {
  display: flex;
  align-items: center;
  background: rgba(83, 38, 50);
  flex-wrap: wrap;
}
.about .row .image {
  flex: 1 1 25rem;
}
.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h2 {
  font-size: 1 1 45rem;
  color: #fff;
}
.about .row .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: black;
  background: var(--main-color);
  cursor: pointer;
  margin: auto;
  position: relative;
  left: 37%;
  transition: 0.5s ease-in-out;
}
.btn:hover {
  scale: 1.1;
}

.header {
  background: rgba(83, 38, 50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px;
}

.header .logo img {
  height: auto;
  width: 200px;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}
.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}
.header .icon div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
}
.header .icon div:hover {
  color: var(--main-color);
}
#menu-btn {
  display: none;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #747caae8 0%, #3e028b 100%);
  background-size: cover;
  background-position: center;
}
.home .content {
  max-width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .logo img {
  height: 200px;
  margin-left: 25%;
}
.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 2rem 100px;
  color: black;
  align-content: center;
}

.report .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.report .box-container .box {
  border: var(--border);
  text-align: center;
  padding: 2rem 1rem;
}
.report .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: black;
  padding: 2rem 0;
}
.report .box-container .box .user {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}
.report .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  columns: var(--black);
}
.report .box-container .box .stars {
  font-size: 1.5rem;
  color: var(--main-color);
}
.reports {
  margin: 20px 100px;
}
.vote {
  width: 100px;
  height: 30px;
  background: linear-gradient(rgb(94, 97, 43), #ea738dff);
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  background: var(--black);
  text-align: center;
}
.footer .share {
  padding: 1rem 0;
}
.footer .share a {
  height: 6rem;
  width: 6rem;
  line-height: 4rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}
.footer .share a:hover {
  background-color: var(--main-color);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}
.footer .links a {
  padding: 1rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  color: var(--main-color);
}
.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5em;
}
.footer .credit span {
  color: var(--main-color);
}
